/*
|------------------------------------------------------------------------------
| Table of Contents
|------------------------------------------------------------------------------	
	- Scroll Bar
|------------------------------------------------------------------------------
*/


/*
|------------------------------------------------------------------------------
| Scroll Bar
|------------------------------------------------------------------------------
*/

*::-webkit-scrollbar {
	height: 2px;
	width: 3px;
}

*::-webkit-scrollbar-button {
	height: 0px;
	width: 0px;
}

*::-webkit-scrollbar-thumb {
	background: #666666;
	border: 0px none #FFFFFF;
	border-radius: 50px;
}

*::-webkit-scrollbar-thumb:hover {
	background: #444444;
}

*::-webkit-scrollbar-thumb:active {
	background: #222222;
}

*::-webkit-scrollbar-track {
	background: #EEEEEE;
	border: 0px none #FFFFFF;
	border-radius: 50px;
}

*::-webkit-scrollbar-track:hover {
	background: #EEEEEE;
}

*::-webkit-scrollbar-track:active {
	background: #EEEEEE;
}

*::-webkit-scrollbar-corner {
	background: transparent;
}