
/*
|------------------------------------------------------------------------------
| Table of Contents
|------------------------------------------------------------------------------
	- Articles List	
	- Cart	
	- Checkout
	- Error
	- FAQs	
	- Home
	- Status-Voucher
	- News Article
	- Splash Screen	
	- Walkthrough
|------------------------------------------------------------------------------
*/


/*
|------------------------------------------------------------------------------
| Articles List
|------------------------------------------------------------------------------
*/

.page[data-page=articles-list] .articles-list {
	margin: 16px 0;
}

.page[data-page=articles-list] .articles-list .card {
	background-color: #F1F2F1;
	box-shadow: none;
}

.layout-dark .page[data-page=articles-list] .articles-list .card {
	background-color: #333333;
}

.page[data-page=articles-list] .articles-list .card-header {
	flex-direction: column;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	padding: 16px;
}

.page[data-page=articles-list] .articles-list .card-header.valign-bottom {
  -ms-flex-align: start;
  -webkit-align-items: flex-end;
  align-items: flex-start;
	-webkit-box-align: start;
}

.page[data-page=articles-list] .articles-list .card-content {
	color: #212121;
}

.layout-dark .page[data-page=articles-list] .articles-list .card-content {
	color: rgba(255, 255, 255, 0.87);
}

.page[data-page=articles-list] .articles-list .article-title {
	font-size: 13px;
}

.page[data-page=articles-list] .articles-list .article-categories {
	margin-top: 4px;
}

/*
|------------------------------------------------------------------------------
| Done
|------------------------------------------------------------------------------
*/

.page[data-page=done] .page-content {
	height: calc(100% - 48px);
  padding-top: 56px !important;
}
.page[data-page=done] .price-summary .item-title {
	font-size: 14px;
}

.page[data-page=done] .products-list .item-title {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	font-size: 13px;
	-webkit-line-clamp: 2;
	line-height: 17px;
  margin-bottom: 2px;
	white-space: normal;
}

.page[data-page=done] .products-list .item-after {
	font-weight: bold;
}

.page[data-page=done] img {
	height: 90vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page[data-page=done] .products-list .item-subtitle {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	font-size: 11px;
	-webkit-line-clamp: 2;
	white-space: normal;
}

.page[data-page=done] .products-list .item-text {
	margin-top: 4px;
}

.page[data-page=done] .price-summary .item-title {
	font-size: 14px;
}

.page[data-page=done] .toolbar-bottom .grand-total {
	background-color: #F1F2F1;
	color: rgba(0, 0, 0, 0.87);
	font-size: 16px;
	font-weight: bold;
	height: 48px;
	line-height: 48px;
	text-align: center;
	width: 50%;
}

.page[data-page=done] .toolbar-bottom .button {
	border-radius: 0;
	height: 48px;
	line-height: 48px;
	width: 50%;
}

/*
|------------------------------------------------------------------------------
| Pending
|------------------------------------------------------------------------------
*/

.page[data-page=pending] .page-content {
	height: calc(100% - 48px);
  padding-top: 56px !important;
}
.page[data-page=pending] .price-summary .item-title {
	font-size: 14px;
}

.page[data-page=pending] .products-list .item-title {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	font-size: 13px;
	-webkit-line-clamp: 2;
	line-height: 17px;
  margin-bottom: 2px;
	white-space: normal;
}

.page[data-page=pending] .products-list .item-after {
	font-weight: bold;
}

.page[data-page=pending] .products-list .item-subtitle {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	font-size: 11px;
	-webkit-line-clamp: 2;
	white-space: normal;
}

.page[data-page=pending] .products-list .item-text {
	margin-top: 4px;
}

.page[data-page=pending] .price-summary .item-title {
	font-size: 14px;
}

.page[data-page=pending] .toolbar-bottom .grand-total {
	background-color: #F1F2F1;
	color: rgba(0, 0, 0, 0.87);
	font-size: 16px;
	font-weight: bold;
	height: 48px;
	line-height: 48px;
	text-align: center;
	width: 50%;
}

.page[data-page=pending] .toolbar-bottom .button {
	border-radius: 0;
	height: 48px;
	line-height: 48px;
	width: 50%;
}

/*
|------------------------------------------------------------------------------
| Riwayat
|------------------------------------------------------------------------------
*/

.page[data-page=riwayat] .page-content {
	height: calc(100% - 48px);
  padding-top: 56px !important;
}
.page[data-page=riwayat] .price-summary .item-title {
	font-size: 14px;
}

.page[data-page=riwayat] img {
	height: 90vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.page[data-page=riwayat] .products-list .item-title {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	font-size: 13px;
	-webkit-line-clamp: 2;
	line-height: 17px;
  margin-bottom: 2px;
	white-space: normal;
}

.page[data-page=riwayat] .products-list .item-after {
	font-weight: bold;
}

.page[data-page=riwayat] .products-list .item-subtitle {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	font-size: 11px;
	-webkit-line-clamp: 2;
	white-space: normal;
}

.page[data-page=riwayat] .products-list .item-text {
	margin-top: 4px;
}

.page[data-page=riwayat] .price-summary .item-title {
	font-size: 14px;
}

.page[data-page=riwayat] .toolbar-bottom .grand-total {
	background-color: #F1F2F1;
	color: rgba(0, 0, 0, 0.87);
	font-size: 16px;
	font-weight: bold;
	height: 48px;
	line-height: 48px;
	text-align: center;
	width: 50%;
}

.page[data-page=riwayat] .toolbar-bottom .button {
	border-radius: 0;
	height: 48px;
	line-height: 48px;
	width: 50%;
}

/*
|------------------------------------------------------------------------------
| Cart
|------------------------------------------------------------------------------
*/

.page[data-page=cart] .page-content {
	height: calc(100% - 48px);
  padding-top: 56px !important;
}

.page[data-page=cart] .products-list .item-media img {
	max-height: 80px;
	width: 40px;
}

.page[data-page=cart] .products-list .item-title {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	font-size: 13px;
	-webkit-line-clamp: 2;
	line-height: 17px;
  margin-bottom: 2px;
	white-space: normal;
}

.page[data-page=cart] .products-list .item-after {
	font-weight: bold;
}

.page[data-page=cart] .products-list .item-subtitle {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	font-size: 11px;
	-webkit-line-clamp: 2;
	white-space: normal;
}

.page[data-page=cart] .products-list .item-text {
	margin-top: 4px;
}

.page[data-page=cart] .price-summary .item-title {
	font-size: 14px;
}

.page[data-page=cart] .toolbar-bottom .grand-total {
	background-color: #F1F2F1;
	color: rgba(0, 0, 0, 0.87);
	font-size: 16px;
	font-weight: bold;
	height: 48px;
	line-height: 48px;
	text-align: center;
	width: 50%;
}

.page[data-page=cart] .toolbar-bottom .button {
	border-radius: 0;
	height: 48px;
	line-height: 48px;
	width: 50%;
}


/*
|------------------------------------------------------------------------------
| Checkout
|------------------------------------------------------------------------------
*/

.page[data-page=checkout] #tab-review .products-list .item-title {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	font-size: 13px;
	-webkit-line-clamp: 2;
	line-height: 17px;
  margin-bottom: 2px;
	white-space: normal;
}

.page[data-page=checkout] #tab-review .products-list .item-subtitle {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	font-size: 11px;
	-webkit-line-clamp: 2;
	white-space: normal;
}

.page[data-page=checkout] #tab-review .price-summary .item-title {
	font-size: 14px;
}

.page[data-page=checkout] #tab-payment .input-error {
	color: #F44336;
	font-size: 11px;
}

.page[data-page=checkout] #tab-done > .container {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	overflow: hidden;
	padding: 16px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}




/*
|------------------------------------------------------------------------------
| Pembelian Voucher
|------------------------------------------------------------------------------
*/


.page[data-page=pembelian-voucher] ::placeholder {
	color: #bfbfbf;
    opacity: 1; 
}
.page[data-page=home] .list-block.contact-info .social .item-title {
	overflow: auto;
	white-space: normal;
}
.page[data-page=home] *, *::after, *::before {
	box-sizing: border-box;
}

.page[data-page=home] .list-block.contact-info .social a {
	display: inline-block;
	margin-bottom: 4px;
}


/*
|------------------------------------------------------------------------------
| Error
|------------------------------------------------------------------------------
*/

.page[data-page=error] .error-container {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	overflow: hidden;
	padding: 16px;
	text-align: center;
}

.error-container {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 90%;
	justify-content: center;
	overflow: hidden;
	padding: 16px;
	text-align: center;
}

.page[data-page=error] .error-media img {
	height: auto;
	width: 128px;
}

.error-media img {
	height: auto;
	width: 128px;
}

.page[data-page=error] .error-media i {
	font-size: 128px;
}
.error-media i {
	font-size: 128px;
}

.page[data-page=error] .error-code {
	font-size: 64px;
  font-weight: bold;
  letter-spacing: 2px; 
}

.error-code {
	font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px; 
}

.page[data-page=error] .error-message {
  font-size: 17px;
  line-height: 23px;
	margin-bottom: 16px;
}

.error-message {
  font-size: 17px;
  line-height: 23px;
	margin-bottom: 16px;
}

.page[data-page=error] .error-actions {
	font-size: 13px;
	margin-bottom: 16px;
	margin-top: 16px;
}

.page[data-page=error] .error-actions a.error-action {
	border-bottom: 1px dotted;
}


/*
|------------------------------------------------------------------------------
| FAQs
|------------------------------------------------------------------------------
*/

.page[data-page=faq] .accordion-item .item-title {
	-webkit-box-orient: vertical;
  display: -webkit-box;
  font-family: 'Proxima';
	font-size: 15px;
  -webkit-line-clamp: 2;
  line-height: 19px;
  margin-bottom: 2px;
  white-space: normal;
}

.page[data-page=faq] .accordion-item-content {
	font-size: 14px;
}

/*
|------------------------------------------------------------------------------
| Events
|------------------------------------------------------------------------------
*/

.page[data-page=events] #his_err {
	align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    overflow: hidden;
    padding: 16px;
    text-align: center;
}

.page[data-page=events] ::placeholder {
	color: #bfbfbf;
    opacity: 1; 
}

.page[data-page=events] .line_inner {
	display: block;
    margin-bottom: 4px;
    padding-bottom: 0;
}
.page[data-page=events] .input-error{
	color: #F44336;
    font-size: 11px;
}

.page[data-page=events]  .swiper-slide {
	background:#fff;
  }

.page[data-page=events]  .swiper-slide span {
	text-align:center;
	display:block;
	margin:20px;
	font-size:21px;
  }
.page[data-page=events]  .swiper-img {	
    width: 99vw;
  }
/*
|------------------------------------------------------------------------------
| Feedback
|------------------------------------------------------------------------------
*/

.page[data-page=feedback] .reactions-wrapper {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.page[data-page=feedback] .reactions-wrapper li {
	display: inline-block;
	margin: 0 3px;
}

.page[data-page=feedback] .reactions-wrapper li input {
  display: none;
}

.page[data-page=feedback] .reactions-wrapper li label img {
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	height: 48px;
	width: 48px;
	transition: all 0.5s;
}

.page[data-page=feedback] .reactions-wrapper li label .reaction-label {
	color: #7F8C8D;
	transition: all 0.5s;
}

.page[data-page=feedback] .reactions-wrapper li input:checked + label img {
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
	transform: scale(1.2);
}

.page[data-page=feedback] .reactions-wrapper li input:checked + label .reaction-label {
	color: #FDCB58;
	transform: scale(1.2);
}

.page[data-page=feedback] .reaction-label {
	display: block;
}

/*
|------------------------------------------------------------------------------
| Home
|------------------------------------------------------------------------------
*/

.page[data-page=home] .slider-hero .swiper-slide {
	background-color: #F1F2F1;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	height: 40vh;
	position: relative;
}

.page[data-page=home] .slider-hero .swiper-slide:before {
	background-color: rgba(128, 128, 128, 0.5);
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.page[data-page=home] .slider-hero .slide-content {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	padding: 16px;
	position: relative;
	text-align: center;
}

.page[data-page=home] .slider-hero .slide-title {
	color: #FFFFFF;
	font-family: 'Proxima';
	font-size: 20px;
}

.page[data-page=home] .slider-hero .slide-text {
	color: rgba(255, 255, 255, 0.87);
}

.page[data-page=home] .slider-hero .slide-actions {
	margin-bottom: 16px;
	margin-top: 16px;
}

.page[data-page=home] .slider-hero .slide-actions .button {
	text-transform: capitalize;
}

.page[data-page=home] .slider-hero .swiper-pagination-bullet {
  background-color: #000000;
}

.page[data-page=home] .slider-hero .swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}

.page[data-page=home] .section-features .content-block-title {
	font-family: 'Proxima';
	font-size: 20px;
	overflow: hidden;
}

.page[data-page=home] .section-features .features-list .item-title {
	font-family: 'Proxima';
}	

.page[data-page=home] .section-features .features-list .item-text {
	font-size: 13px;
	-webkit-line-clamp: 5;
	max-height: initial;
}

.page[data-page=home] .section-features .features-list .item-media i {
	color: #2196F3;
	font-size: 48px;
}

.theme-red .page[data-page=home] .section-features .features-list .item-media i {	color: #F44336; }
.theme-pink .page[data-page=home] .section-features .features-list .item-media i {	color: #E91E63; }
.theme-purple .page[data-page=home] .section-features .features-list .item-media i {	color: #9C27B0; }
.theme-deeppurple .page[data-page=home] .section-features .features-list .item-media i {	color: #673AB7; }
.theme-indigo .page[data-page=home] .section-features .features-list .item-media i {	color: #3F51B5; }
.theme-blue .page[data-page=home] .section-features .features-list .item-media i {	color: #2196F3; }
.theme-lightblue .page[data-page=home] .section-features .features-list .item-media i {	color: #03A9F4; }
.theme-cyan .page[data-page=home] .section-features .features-list .item-media i {	color: #00BCD4; }
.theme-teal .page[data-page=home] .section-features .features-list .item-media i {	color: #009688; }
.theme-green .page[data-page=home] .section-features .features-list .item-media i {	color: #4CAF50; }
.theme-lightgreen .page[data-page=home] .section-features .features-list .item-media i {	color: #8BC34A; }
.theme-lime .page[data-page=home] .section-features .features-list .item-media i {	color: #CDDC39; }
.theme-yellow .page[data-page=home] .section-features .features-list .item-media i {	color: #FFEB3B; }
.theme-amber .page[data-page=home] .section-features .features-list .item-media i {	color: #FFC107; }
.theme-orange .page[data-page=home] .section-features .features-list .item-media i {	color: #FF9800; }
.theme-deeporange .page[data-page=home] .section-features .features-list .item-media i {	color: #FF5722; }
.theme-brown .page[data-page=home] .section-features .features-list .item-media i {	color: #795548; }
.theme-gray .page[data-page=home] .section-features .features-list .item-media i {	color: #9E9E9E; }
.theme-bluegray .page[data-page=home] .section-features .features-list .item-media i {	color: #607D8B; }
.theme-white .page[data-page=home] .section-features .features-list .item-media i {	color: #FFFFFF; }
.theme-black .page[data-page=home] .section-features .features-list .item-media i {	color: #000000; }

.layout-dark .page[data-page=home] .section-features .features-list .item-media i {
	color: rgba(255, 255, 255, 0.87);
}


/*
|------------------------------------------------------------------------------
| News Article
|------------------------------------------------------------------------------
*/

.page[data-page=news-article] .article-header {
	background-color: #F1F2F1;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.page[data-page=news-article] .article-header {
	align-items: flex-start;
	box-sizing: border-box;
	color: rgba(255, 255, 255, 0.87);
	display: flex;
	flex-direction: column;
	height: 50vh;
	justify-content: flex-end;
	padding: 16px;
}

.page[data-page=news-article] .article-header .article-title {
	font-size: 14px;
}

.page[data-page=news-article] .article-header .article-categories {
	margin-top: 8px;
}

.page[data-page=news-article] .article-content {
	padding: 16px;
}

.page[data-page=news-article] .comments-list .item-media img {
	width: 40px;
}

.page[data-page=news-article] .comments-list .item-title {
	font-size: 14px;
}

.page[data-page=news-article] .comments-list .item-subtitle {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	font-size: 12px;
	font-style: italic;
	-webkit-line-clamp: 2;
	line-height: 17px;
	white-space: normal;
}

.page[data-page=news-article] .comments-list .item-text {
	font-size: 11px;
}


/*
|------------------------------------------------------------------------------
| Splash Screen
|------------------------------------------------------------------------------
*/

.page[data-page=splash-screen] .splash {
	align-items: center;
	background-color: #ffffff;
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 40%, #ffffff  150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
	background-blend-mode: multiply;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
	overflow: hidden;
	padding: 16px;
	text-align: center;
}

.page[data-page=splash-screen] .splash .splash-media {
	margin: 32px 0;
	padding: 0 16px;
}

.page[data-page=splash-screen] .splash-media .logo {
	height: 84px;
	width: auto;
}

.page[data-page=splash-screen] .splash-media .logo * {
	fill-opacity: 1;
	opacity: 1;
	stroke-width: 10px;
    transition: fill-opacity 1s;
}

.page[data-page=splash-screen] .splash-media .logo.animation-begin * {
	opacity: 1;
}

.page[data-page=splash-screen] .splash-media .logo.animation-finish * {
  fill-opacity: 1;
	stroke-width: 1px;
}

.page[data-page=splash-screen] .splash .splash-preloader {
	margin: 32px 0;
	opacity: 1;
	padding: 0 16px;
	transition: opacity 1s;
}

.page[data-page=splash-screen] .splash-preloader .preloader {
	height: 32px;
	width: 32px;
}


/*
|------------------------------------------------------------------------------
| status-voucher
|------------------------------------------------------------------------------
*/
.page[data-page=status-voucher] .c-title {
	text-align: center;
	padding-top: 24px;
	padding-bottom: 16px;
	font-size: 20px;
}
.page[data-page=status-voucher] .c-member {
	width: 280px;
	height: 180px;
	display: inline-block;
	border-radius: 8px;
	margin-bottom: 16px;
	position: relative;
}
.page[data-page=status-voucher] .c-number {
	position: absolute;
	bottom: 30px;
	left: 15px;
	font-size: 20px;
	letter-spacing: 4px;
	text-align: left;
	color: #fff;
}
.page[data-page=status-voucher] .card-img {
	box-shadow: 0 10px 20px 0 rgba(0,0,0,.2);
	height: 100%;
	border-radius: 8px;
}
.page[data-page=status-voucher] .c-name {
	position: absolute;
	bottom: 10px;
	left: 15px;
	font-family: "SamsungSans-Medium",Arial;
	font-size: 16px;
	color: #fff;
}



/*
|------------------------------------------------------------------------------
| Walkthrough
|------------------------------------------------------------------------------
*/

.page[data-page=walkthrough] .walkthrough {
	height: 100%;
}

.page[data-page=walkthrough] .walkthrough-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-start;
	text-align: center;
}

.page[data-page=walkthrough] .walkthrough-slide {
	box-sizing: border-box;
	padding: 16px;
}

.page[data-page=walkthrough] .walkthrough-slide .slide-title {
	font-family: 'Proxima';
	font-size: 1.2em;
	margin: 8px 0;
	padding: 0 16px;
}

.page[data-page=walkthrough] .walkthrough-slide .slide-media {
	margin: 16px 0;
	/* padding: 0 16px; */
}

.page[data-page=walkthrough] .walkthrough-slide .slide-media img {
	display: inline-block;
	width: 90vw;
	height: auto;
}

.page[data-page=walkthrough] .walkthrough-slide .slide-text {
	font-size: 14px;
	margin: 8px 0;
	padding: 0 16px;
}

.page[data-page=walkthrough] .walkthrough-slide .slide-actions {
	margin: 16px 0;
	padding: 0 16px;
}

.page[data-page=walkthrough] .walkthrough-actions {
	bottom: 0;
	box-sizing: border-box;
	left: 0;
	margin: 16px 0;
	padding: 0 16px;
	position: absolute;
	width: 100%;
	z-index: 50;
}

.page[data-page=walkthrough] .walkthrough-pagination {
	bottom: 80px;
}

.tab-barmenu {
	position: fixed;
    bottom: 0px;
    width: 100%;
    background: #f9f9f9;
    height: 55px;
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -1px 6px rgba(93, 93, 93, 0.75);
	display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab-barmenu a {
	text-align: center;
	color: #8e8e8e;
}

.tab-barmenu a i{
	display: block;
}
._3EibU{
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 30px 0px 85px 0px;
}
._3EibU, .Tr6Hj{
	text-align: center;
}

.Tr6Hj {
    -ms-flex-preferred-size: calc(50vw - 16px);
    flex-basis: calc(50vw - 16px);
}
.Tr6Hj {
    background-color: #fff;
    display: inline-block;
    padding: 8px;
    width: 40%;
    border-radius: 4px;
    -webkit-box-shadow: rgba(27,27,27,.2) 0 2px 4px 0;
    box-shadow: 0 2px 4px 0 rgba(27,27,27,.2);
    margin: 0 4px 8px;
    vertical-align: middle;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
._22Gdz {
    height: 60px;
    width: 60px;
    outline: none;
    border: 0;
    border-radius: 50%;
    padding: 8px;
    display: inline-block;
    margin-bottom: 6px;
}
._2hTgM {
    font-size: 12px;
    line-height: 16px;
	color: #696969;
	margin-top: -10px;
}    
.line_inner{
	width:100%;
}
